replicaCount: 1

image:
  repository: jasonmishi/g11-user-service
  tag: latest
  pullPolicy: IfNotPresent

service:
  port: 3001
  targetPort: 3001

env:
  NODE_ENV: production
  PORT: "3001"
  DATABASE_URL: "postgresql://user_service:user_password@postgres-user:5432/user_service"
